[ComponentManager]
;Component.1=TBD

[CmpSettings]
FileReference.0=SysFileMap.cfg, SysFileMap

[CmpRouter]
0.MainNet=ether 0

[CmpLog]
Logger.0.Name=StdLogger
Logger.0.Enable=1
Logger.0.MaxFileSize=5000
Logger.0.MaxFiles=3

; the file back end ("you will have logger files")
; ATTENTION. This backend will write at least a few kilobytes each time when the runtime is started
; so the life span your flash memory will be shorter!!!! 
; consider activating this backend only for development or diagnosis of significant problems,
; but NOT for normal production
Logger.0.Backend.0.ClassId=0x00000104

; Console back end is disabled because it slows down everything
; Logger.0.Backend.1.ClassId=0x0000010B

Logger.0.Filter=31

; logger type
; contains the flags for message format and point in time when messages are dumped
;
;    LT_NORMAL                   0x0004 
;    LT_TIMESTAMP_RTC_HIGHRES    0x2000 
;    LT_NO_DISABLE               0x0100 
;    LT_DUMP_ALWAYS              0x0400
;    LT_DUMP_ASYNC               0x0200 
;
;   default value is 0x2304  (LT_NORMAL | LT_TIMESTAMP_RTC_HIGHRES | LT_NO_DISABLE | LT_DUMP_ASYNC )

; on some old CE ARM devices (version 5 or older), the flag 0x2000 (RTC highres timestamp) leads to crashes in vsnprintf at startup
; if you see a crash of the comm cycle hook at startup, but the runtime system still executes, then uncomment the following line
; Logger.0.Type=0x304

; LT_DUMP_ASYNC
; dump messages asynchronously, i.e. in the task with the CH_COMM_CYCLE hook (which must have low priority)
; in every comm cycle hook, up to 4 new messages are dumped to the currently configured logger backends (file, console)

; this does not disturb realtime (perhaps on some systems, when new log files are created in flash and interrupts are disabled)

; DISADVANTAGE: if the runtime system or OS freezes or crashes, the (up to 4) latest messages are lost

; LT_DUMP_ALWAYS 
; if the runtime system or Windows CE crashes or freezes immediately after a logger message, then there is a good 
; chance that the latest messages are in the logger file (if the file backend is configured)

; DISADVANTAGE: the logging task has a spike in its cycle time because of writing to flash
; from SP 15 on (STACK version, not runtime system version), CODESYS field bus stacks issue logger messages also in operational state
; => this requires either disabling the file backend of the logger, or setting the LT_DUMP_ASYNC

[CmpSchedule]
ProcessorLoad.Maximum=0

[SysTime]
WinCE.GetMsTimeFromSchedulerTicks=0

[SysTimer]
WinCE.Priority=20
WinCE.TimerSource=ThreadWaitTillTick

[CmpTargetVisu]
remWindowPositionX=0
remWindowPositionY=20
remWindowSizeWidth=240
remWindowSizeHeight=300


[CmpApp]
Bootproject.CreateOnDownload=1
;RetainType.Applications=InSRAM
RetainType.Applications=None

[SysTask]
remOSPriority.Realtime.Base=100
remOSPriority.Realtime.End=131

[CmpRetain]
;Retain.SRAM.Size=458752
;Retain.SRAM.Address=0xf0010000

[SysShm]
WinCE.MapPhysical=1
WinCE.DividePhysicalAddressBy=256

[SysMem]
;WinCE.RetainAddress=0xaa010000

[SysFile]
PlcLogicPrefix=1
; TODO adapt this path according to your flash disk
;FilePath.1=\Storage\plc3, *.app, *.ap_, *.frc, *.csv, *.err, *.crc,*.dat, *.ret


